
# For now, just track compiled assets until I decide to install Node on the server.
### Compiled Assets
#css/
#js/

### Images
#images/*
#source/images

### NPM Packages
node_modules/

### Projects
app/projects
