[submodule "app/projects/minesweeper"]
	path = app/projects/minesweeper
	url = https://github.com/lvampa/April23_Minesweeper_AngularJS
[submodule "app/projects/squidchase"]
	path = app/projects/squidchase
	url = https://github.com/lvampa/April23_Minesweeper_AngularJS
[submodule "app/projects/pizza"]
	path = app/projects/pizza
	url = https://github.com/lvampa/April23_Minesweeper_AngularJS
[submodule "app/projects/triangle"]
	path = app/projects/triangle
	url = https://github.com/lvampa/April23_Minesweeper_AngularJS
[submodule "app/projects/repeat"]
	path = app/projects/repeat
	url = https://github.com/lvampa/April23_Minesweeper_AngularJS
