.page-container {
  display: flex;
  flex-flow: column;
}



// Control Styles

.top-header {
  height: 200px;
  background-color: red;
  display: inline-block;
}

.project-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project-item {
  flex: 1 1 200px;
}



.footer {
  height: 200px;
  background-color: blue;
  display: inline-block;
}