.page-container {
  display: flex;
  flex-flow: column;
}
.top-header {
  height: 200px;
  background-color: red;
  display: inline-block;
}

/* ----- Project collection layout ------
  .project-collection-container
    .project-collection
      .project-item (featured)
        .project-item-image
        .project-item-content
*/

.project-collection-container {
  @include container-margin;
}

.project-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project-item {
  flex: 1 1 200px;
  border: 1px solid green;
}

.project-item.featured {
  flex: 1 1 100%;

  .project-item-image {
    max-width: 600px;
  }
}

.project-item-image {
  border: 1px solid black;
  max-width: 400px;
}

.project-item-content {
  border: 1px solid black;
}

.footer {
  height: 200px;
  background-color: blue;
  display: inline-block;
}