/* ------ margins and spacing ------ */
$max-container-width: 1400px;
$small-trim: 15px;
$work-item-gutter-small: 2%;
$work-item-gutter: 5%;

/* ------ breakpoints ------ */

// Large Phone
$bp-small: 640px;
// After tablet
$bp-medium: 768px;
// Large screen
$bp-large: 990px;
// Very large
$bp-xlarge: 1250px;

/* ------ colors ------ */

$c-text: #363647;

$c-link: #A1221A;
$c-button-border: $c-link;
$c-border: $c-link;

$c-card-border: #C0C0C0;
$c-code-background: #E0E0E0;

$c-background: #F9F9F9;
$c-button-background: white;
$c-card-background: $c-button-background;

/* ------ fonts ------ */
$f-default: 'Roboto', Verdana, sans-serif;
$f-special: 'Roboto Condensed', Verdana, sans-serif;
