@mixin hoverBorder($color, $hover: true) {
  border: 3px solid $color;

  @if $hover {
    &:hover {
      box-shadow: 0 0 5px 0 lighten($color, 5%);
    }
  }
}

@mixin flex-row($items, $gutters) {
  flex: 0 1 calc(
    100% / #{$items} - (
      #{$work-item-gutter} * #{$gutters} / #{$items}
    )
  );
}
