// Build a centered container
@mixin container-margin {
  margin-left: $small-trim;
  margin-right: $small-trim;
  max-width: $max-container-width;

  @media screen and (min-width: $bp-medium) {
    margin-right: 4%;
    margin-left: 4%;
  }

  @media screen and (min-width: $bp-large) {
    margin-right: 8%;
    margin-left: 8%;
  }
}
