/* ----- Landing Item Layout ------
  .item-landing-template
    .landing-item
      .landing-image
      .landing-actions
        .actions-container
      .landing-content
        .buttonback-to-project-collection
*/

.landing-item {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 100%;
  border: 3px solid green;
}

.landing-image {
  flex: 1 1 40%;
}

.landing-actions {
  flex: 1 1 25%;
  text-align: center;
}

.actions-container {
  display: inline-block;
  max-width: 250px;
  width: 80%;

  .button {
    padding: 5px;
    margin-bottom: 10px;
    min-width: 150px;
    width: 100%;
  }
}

.landing-content {
  flex: 1 1 35%;
  align-items: baseline;
  padding: 25px;

  .button {
    margin-bottom: 15px;
  }

  > div {
    display: inline-block;
    width: 100%;
  }
}

.back-to-project-collection {
  float: right;
}

@media screen and (min-width: $bp-small) {

}


