/* ----- Landing Item Layout ------
  .item-landing-template
    .landing-item
      .landing-top
        .landing-actions
      .landing-image
      .landing-content
        .landing-info
*/

.landing-item {
  @include hoverBorder($c-card-border, false);
  background-color: $c-card-background;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;

  h1 {
    margin: 20px 0 10px 0;
  }

  h4 {
    margin-bottom: 40px;
  }

}

.landing-top {
  flex: 1 1 100%;
  text-align: center;
}

.landing-actions {
  margin-bottom: 15px;
  text-align: center;

  .button {
    margin-bottom: 10px;
  }
}


.landing-image {
  flex: 1 1 100%;
}

.landing-content {
  padding: $small-trim;
}

.landing-info {
  text-align: center;

  p {
    text-align: left;
    margin-bottom: $small-trim;
  }
}

@media screen and (min-width: $bp-medium) {
  .landing-image {
    flex: 1 1 50%;
  }

  .landing-content {
    flex: 1 1 50%;
    padding: 0 $small-trim $small-trim $small-trim;
  }

  .back-to-project-collection {
    float: right;
  }
}

/* ----- Landing Post Layout ------
  .item-landing-template
    .landing-post
      .post-content
      .post-actions
*/

.landing-post {

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    line-height: 1.3;
    margin-bottom: 20px;
  }

  hr {
    width: 40%;
    margin-bottom: 20px;
  }

  li {
    line-height: 1.3;
    padding: 0 0 5px 5px;
  }

  ol {
    padding-bottom: 15px;
  }

  .date {
    text-align: right;
  }

  .code {
    background: $c-code-background;
    border-radius: 2px;
    display: block;
    line-height: 1.3;
    margin: 15px 0;
    padding: 10px;
  }
}
