/* ----- Landing Item Layout ------
  .item-landing-template
    .landing-item
      .landing-top
        .landing-actions
      .landing-image
      .landing-content
        .landing-info
*/

.landing-item {
  @include hoverBorder(green, false);
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
}

.landing-top {
  text-align: center;
  flex: 1 1 100%;
}

.landing-actions {
  text-align: center;
  margin-bottom: 15px;

  .button {
    margin-bottom: 10px;
  }
}


.landing-image {
  flex: 1 1 100%;
}

.landing-content {
  padding: 0 $small-trim $small-trim $small-trim;
}


.landing-info {
  text-align: center;

  p {
    text-align: left;
  }
}

@media screen and (min-width: $bp-medium) {
  .landing-image {
    flex: 1 1 50%;
  }

  .landing-content {
    flex: 1 1 50%;
  }

  .back-to-project-collection {
    float: right;
  }
}
