/* ----- Page Layout ------ */

.page-container {
  width: 100%;
}

.content-container {
  padding: $small-trim 0;
  @include container-margin;
}


/* ----- Project collection layout ------
      .project-collection
        .project-item (featured)
          .project-item-image
          .project-item-content
*/

.project-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project-item {
  @include hoverBorder(green);
  background-color: $c-card-background;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  cursor: pointer;
  margin-bottom: 20px;

  h1 {
    margin-bottom: 10px;
    text-align: center;
  }

  h4 {
    margin-bottom: 15px;
    text-align: center;
  }
}

.project-item:not(.featured) {
  .project-item-image {
    width: 100%;
  }

  h4 {
    display: none;
  }
}

.project-item-image {
  flex: 1 1 100%;
}

.project-item-content {
  padding: 15px;
  flex: 1 1 100%;
}

@media screen and (min-width: $bp-small) {

  .project-item {
    flex: 0 1 calc(50% - (#{$project-item-gutter-small} / 2);
    margin-bottom: $project-item-gutter-small;

    &:nth-of-type(2n) {
      margin-right: $project-item-gutter-small;
    }

    &:not(.featured) {
      max-width: calc(50% - (#{$project-item-gutter-small} / 2));
    }
  }

  .project-item.featured {
    flex: 1 1 100%;

    .project-item-image {
      flex: 1 1 45%;
      margin-right: $project-item-gutter;
    }

    .project-item-content {
      flex: 1 1 45%;
      padding-left: 0;
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .project-item {
    flex: 1 1 calc(50% - #{$project-item-gutter});
    margin-bottom: $project-item-gutter;

    &:nth-of-type(2n) {
      margin-right: $project-item-gutter;
    }

    &:not(.featured) {
      max-width: calc(50% - (#{$project-item-gutter} / 2));
    }
  }
}
